*.obj
.*.sw?
*.pdb
*.tlb
*.res
*.exe
*.manifest
*.exp
*.ilk
*.lib
*.udb
*.msi
*.wixobj
*.wixpdb
*.dll
*.o
*.core
*.map
*.dld
*.zip
*.id0
*.id1
*.idb
*.nam
*.til
compile_commands.json
build-*/
a.out
autom4te.cache/
config.log
.clangd/
